<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="comment-form"> 
    <li class="subj-ico"><%= f.text_field :title, :class => "form-control", :placeholder => "タイトル" %></li>
    <li><%= f.text_area :content, :size => "20x10", :class => "form-control", :placeholder => "内容" %></li>
    <li>画像ファイル：<%= f.file_field :image %></li>
    <li><%= button_tag "送信", :class => "actions button yellow" %>
        <%= button_tag "リセット", :class => "actions button gray", :type => "reset" %></li>
  </ul>

<!--
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

-->
<% end %>
